#splashScreen {
  width: 500px;
}

#topNav {
  height: 100px;
}

#gameScreen {
  width: 500px;
}

#gameScreen div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}

#winner {
  idth: 100px;
    height: 100px;
    border: 1px solid blue;
    display: inline-block;
}

.active {
  background-color: yellow
}

.hidden {
  display: none!important;
}

.scoreBoard {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}