

#topnav {
  height: 100px;
}

#screen {
  width: 500px;
}

#screen div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}

.active {
  background-color: yellow
}

.scoreBoard {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none!important;
}


