* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
}

body {
  background-image: url(images/body-background3.jpg);
  background-size: cover;
}

button {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(143,39,2);
  border: none;
  border-radius: 25px;
  color: rgb(252,220,55);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  font-family: 'Smokum', cursive;
  text-shadow: 2px 2px #000000;
}
img {
  max-width:100%;
  max-height:100%;
}

.active {
  background-color: yellow
}
/*remove at the end*/

.hidden {
  display: none!important;
}

.scoreBoard {
  width: 150px;
  height: 40px;
  padding-top: 7.5px;
  display: inline-block;
  vertical-align: top;
  background-image: url(images/button.png);
  background-size: cover;
  font-size: 1.3em;
  color: rgb(252,220,55);
  text-shadow: 1px 1px #000000;
  z-index: 2;
}
#wrapper {
  width: 1200px;
  height: 700px;
  border-radius: 25px;
  overflow:hidden;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(+10px);
  z-index: -1;

}
#splashScreen {
  width: 100%; 
  height: 100%;
  background-image: url(images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#topNav {
    width: 1200px;
    height: 50px;
    text-align: center;
    font-family: 'Smokum', cursive;
}

#gameScreen {
  background: #000; 
  width: 1200px;
  height: 700px;
  position:relative;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

#gameScreen div {
  border: 1px solid red;
  position: absolute;
}

#div1 {
  width: 50px;
  top: 42%;
  left: 80%;
}

#div2 {
  width: 100px;
  top: 70%;
  left: 71%;
}

#div3 {
  width: 48px;
  top: 25.5%;
  left: 42%;
}

#div4 {
  width: 100px;
  top: 70%;
  left: 20%;
}

#div5 {
  width: 60px;
  top: 36%;
  left: 93%;
}

#div6 {
  width: 80px;
  top: 65%;
  left: 39%;
}

#div7 {
  width: 45px;
  top: 55%;
  left: 50%;
}

#div8 {
  width: 40px;
  top: 52%;
  left: 60%;
}

#div9 {
  width: 100px;
  top: 40%;
  left: 22%;
}

#div10 {
  width: 60px;
  top: 6%;
  left: 20%;
}